In [5]:
import shioaji as sj
import pandas

In [ ]:
# 登入shioaji
api = sj.Shioaji()
api.login(
    person_id="id是我",
    passwd="密碼是我",
)

In [8]:
# 取得snapshot
contract = [api.Contracts.Stocks['2330']]
snapshot = api.snapshots(contract)
snapshot

[Snapshot(ts=1632493800000000000, code='2330', exchange='TSE', open=591.0, high=598.0, low=590.0, close=598.0, tick_type=<TickType.Buy: 'Buy'>, change_price=10.0, change_rate=1.7, change_type=<ChangeType.Up: 'Up'>, average_price=594.7, volume=54, total_volume=16736, amount=32292000, total_amount=9952872854, yesterday_volume=21696.0, buy_price=597.0, buy_volume=41.0, sell_price=598.0, sell_volume=2, volume_ratio=0.77)]

In [13]:
# 轉換成dataframe
df = pandas.DataFrame(snapshot)
df

,amount,average_price,buy_price,buy_volume,change_price,change_rate,change_type,close,code,exchange,...,open,sell_price,sell_volume,tick_type,total_amount,total_volume,ts,volume,volume_ratio,yesterday_volume
0,32292000,594.7,597.0,41.0,10.0,1.7,ChangeType.Up,598.0,2330,TSE,...,591.0,598.0,2,TickType.Buy,9952872854,16736,1632493800000000000,54,0.77,21696.0